@import "tailwindcss";

.home-bg {
  background-size: auto 45%;
}

@media (min-width: 768px) {
  .home-bg {
    background-size: 55%;
  }
}

@theme {
  --color-yellow: #FFC637;
  --color-yellow-text: #FDC435;
  --color-grey: #828282;
  --color-light-grey: #F9FAFF;
  --color-dark: #222222;
  --font-comfortaa: 'Comfortaa', cursive;
  --font-raleway: 'Raleway', sans-serif;
  --font-nunito:'Nunito', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-playFaire: 'Playfair Display', serif;
}
